/* font-family: 'Fira Code', monospace; */
/* font-family: 'Roboto', sans-serif; */

body {
  font-family: "Fira Code", monospace !important;
  height: 100vh !important;
}

#select,
#errorWrap,
#card {
  box-shadow: 2px 2px 20px 3px rgba(255, 255, 255, 0.5) !important;
}

h1 {
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5) !important;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 0.65rem;
  }
}
